# Global variables
MONGODB_URI=<your-mongodb-atlas-connection-string>
PORT=5000
JWT_SECRET=<your-jwt-secret>

# Frontend
VITE_API_KEY=<api key>
VITE_BASE_URL="http://localhost:5000"

# Simulation
NODE_ENV="dev"
RENTING_PERCENTAGE=50
MAX_SIMULATIONS=1000
SCOOTER_SPEED=200
BATTERY_CHARGE_RATE=100     # Lower number charges faster (1000=1sec)
UPDATE_INTERVAL=10000       # How often the scooters should save their data to the db (1000=1sec)
SIMULATION_SPEED=1000       # Lower number speeds up the simulation. Normal is 1000=1sec.
