// fonts
$font-family-base: "Inter", sans-serif;

// colors
$white: oklch(1 0 0);
$primary: oklch(0.5 0.1 140);
$primary-hover: oklch(0.45 0.1 140);
$info: oklch(0.5 0.1264 257.28);
$danger: oklch(0.4 0.1012 24.73);
$danger-hover: oklch(0.35 0.1035 25.85);

// text
$text-primary: oklch(0.2 0 0);
$text-secondary: oklch(0.4 0 0);
$text-light: $white;
$text-muted: oklch(0.9 0 0);
$text-link: $info;

// background
$bg-body: oklch(0.92 0.01 140);
$bg-surface: oklch(0.98 0.01 140);

// border
$border-color: oklch(0.7 0 0);
$border-color-light: oklch(0.8 0 0);
