@use "variables";

.home {
  position: relative;
  flex: 1;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  background-image: url("../public/home.jpg");
  background-size: cover;
  background-position: center;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgb(0 0 0 / 0.5);
  }

  .home-content {
    position: relative;
    z-index: 1;
    color: variables.$text-light;
    padding: 2rem;
    margin: auto;

    h2 {
      font-weight: 800;
      margin: 0;
    }

    p {
      color: variables.$text-muted;
      margin-bottom: 1rem;
      margin: 0 0 1rem 0;
    }
  }
}

@media (min-width: 500px) {
  .home-content h2 {
    font-size: 3rem;
  }
}
