@use "variables";

.login-error {
  color: variables.$danger;
}

.login {
  text-align: center;
  margin: 0 auto;
  max-width: 400px;
  padding: 3rem 2rem;

  button,
  input {
    width: 100%;
  }

  button {
    margin-bottom: 1rem;
  }

  a {
    color: variables.$text-primary;
    text-decoration: none;
  }

  h2 {
    margin: 0 0 1rem;
  }
}
