@use "variables";

.header {
  background-color: variables.$bg-body;
  color: variables.$text-primary;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  h1 {
    margin: 0;
    font-size: 1.5rem;
  }

  a {
    color: variables.$text-primary;

    &:hover {
      cursor: pointer;
    }
  }

  .buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.logout-button {
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  font-weight: 500;
  transition: background-color 0.2s;

  &:hover {
    background-color: variables.$border-color-light;
  }
}

.profile-icon {
  font-size: 2rem;
  display: flex;
  align-items: center;
  color: variables.$text-secondary !important;
  transition: color 0.2s;

  &:hover {
    color: variables.$text-primary !important;
  }
}
