@use "variables";

.sidebar {
  background-color: variables.$background-sidebar;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
}

.sidebar-menu a {
  padding: 0.5rem 1rem;
  color: variables.$text-primary;
  font-size: large;
  border-radius: 0.5rem;
  &:hover {
    color: variables.$text-secondary;
  }
  &.active {
    background-color: variables.$background2;
  }
}
