@use "variables";
@use "header";
@use "sidebar";
@use "home";
@use "login";
@use "scooters";
@use "customers";
@use "map";

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

html {
  background-color: variables.$background;
  color: variables.$text-primary;
}

html,
input,
button,
select,
textarea {
  font-family: variables.$font-primary !important;
  line-height: 1.5;
}

body {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-body {
  display: flex;
  flex: 1;
  min-height: 0;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.main-content {
  flex: 1;
  padding: 2rem;
}

.center {
  text-align: center;
}

a {
  text-decoration: inherit;
  color: variables.$text-link;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  background-color: variables.$background2;
  color: variables.$text-primary;
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid variables.$button-outline-color;
  border-radius: 0.5rem;
}

select {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid variables.$button-outline-color;
  background-color: variables.$background2;
  color: variables.$text-primary;

  &:focus {
    outline: none;
  }
}

label {
  margin-right: 1rem;
}

button {
  background-color: variables.$button-color;
  color: variables.$button-text;
  font-size: 1rem;
  border: none;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: variables.$button-hover-color;
  }
}

.error-msg {
  color: variables.$color-red;
}
